@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darker text-white antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
  }

  .glass-card {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl;
  }
}
